# Игнорировать все файлы .env, содержащие конфиденциальные настройки
.env

# Игнорировать папку с скомпилированными объектами
bin/

# Игнорировать папку с зависимостями
vendor/

# Игнорировать скомпилированные файлы
*.o
*.a

# Игнорировать папку, которая создается при сборке проекта
dist/

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать файлы IDE
.idea/
*.swp